body {
    background: black;
}

canvas {
    display: block;
    background: #151515;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}  

a:link {
	color:#000000;
	position: fixed;
}

a:visited {
	color:#000000;
}