BODY {BACKGROUND:#FFFFDB;margin-left: 5%; margin-right: 5%; margin-top: 5%; margin-bottom: 5%}

P {text-align: justify; text-indent:5%;}
.flush {text-align: none; text-indent:0;}
PRE {font-size:95%;}
